@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Cat Page";
}

<div class="text-center">
    <h1 class="display-4">Cat Application</h1>
</div>

<div class="text-center">
    <a asp-action="GetCats">Play Cat Game</a>
</div>